/*
  START CSS RESET
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
 
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }
 
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
 
  #root, #__next {
    isolation: isolate;
  }
  /*
    END CSS RESET
  */

body {
    background: url(images/sparkles.jpeg) no-repeat center center fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    font-family:Arial, Helvetica, sans-serif
}  
.container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    width: 50vw;
    min-width: 300px;
    height: 35vh; 
    min-height: 300px;
    background-color: #aaa94bd8;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    top: 50%;
    transform: translate(0, +50%);

  
}
.buttons {
    width: 30vw;
    min-width: 150px;
    height: 8vh;
    font-size: 1.3rem;
    line-height: 85%;
    padding: 10px;
    color: aliceblue;
    border-style: solid;
    border-color: rgba(0, 151, 136, 0.672);
    border-radius: 10px;
    background: linear-gradient(rgb(21, 188, 171), rgb(16, 79, 72));
    
}
h1 {
  
    text-align: center;
    color: rgb(0, 0, 0);
    
}